/* NOTES SECTION
color <- text color
background-color <- what it says
border radius <- rounds corners (px/%)
font-size <- text size (px)
font-family <- change font type

*/

@font-face {
    font-family: 'MondayFeelings';
    src: url(fonts/MondayFeelings.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MotleyForces';
    src: url(fonts/MotleyForcesRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ShiftyNotes';
    src: url(fonts/ShiftyNotesRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: unset;
    margin: 0px;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'MondayFeelings';
}

p, a,div {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links {
    font-weight: 600;
}

.part {
    width: 100%;
}

#header {
    height: 100px;
    background-color:#19416d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #f1f8fd;
}

#header-items {
    width: 500px;
    font-size: 20px;
    color: #f1f8fd;
}
#header-items > a:hover {
    text-decoration: underline;
}

#content {
    height: 750px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#tip {
    width: 25%;
    height: 85%;
    margin: 0 ;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f1fd;
    box-shadow: 0px 0px 10px rgba(89, 147, 210, 0.44);
    color: #5a52b5;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#tip p, #tip h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#tip p i {
    font-size: 30px;
    margin-right: 10px;
}
#tip h1 {
    font-size: 31px;
}
#tip h1 i {
    font-size: 40px;
    margin-right: 20px;
}

#quiz {
  width: 65%;
  height: 85%;
  margin: 0;
  padding: 20px;
  background-color: #e7f8ff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(89, 147, 210, 0.44);
}

#quiz h1 {
    text-align: center;
    font-size: 40px;
    color: #1b67b7;
    margin-bottom: 20px;
}

#question {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

#question span {
    font-weight: 500;
    font-style: italic;
    color: #285f9a;}

#options {
  display: grid;
  gap: 10px;
}

#options button {
  display: block;
  width: 95%;
  margin: 0;
  padding: 12px 20px;
  background-color: white;
  color: #19416d;
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px rgba(130, 130, 218, 0.44);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  font-weight: bold;
}

#options button:hover {
  background-color: #d1efff;
}

/* Answer selected by the user */
#options button.selected {
  border: 2px solid #b0cdec;
  background-color: #def1ff;
  color: #034286;
}

/* Correct answer */
#options button.correct {
  border: 2px solid #4caf50;
  background-color: #aeffb1;
  color: #087b0c;
}

/* Wrong answer */
#options button.wrong {
  border: 2px solid #af4c4c;
  background-color: #ffcece;
  color: #7b0808;
}

/* Disabled buttons after submission */
#options button:disabled {
  cursor: default;
  opacity: 1;
}

#submit, #result button {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #4584f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover , #result button:hover{
  background-color: #1862e1;
}

#result {
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    width: 60%;
    background-color: white;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(130, 130, 218, 0.44);

}
#result h1 {
    text-align: center;
    color: #19416d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#result h1 span {
    color: #1862e1;
    font-size: 70px;
}

#footer {
    height: 100px;
    background-color: #19416d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-items {
    width: 400px;
    color: white;
    font-size: 15px;
}
.footer-icons {
    width: 200px;
    color: white;
    font-size: 25px;
}




@keyframes PopUp {
    0% {top: 120%;}
    75% {top: 84%;}
    100%{top: 85%;}
}

@keyframes PopUp2 {
    0%{top: 120%;}
    20% {top: 120%;}
    80% {top: 86%;}
    100%{top: 87%;}
}

@keyframes idle {
    0% {transform: rotate(0);}
    48% {transform: rotate(0);}
    49% {transform: rotate(-2deg);}
    51% {transform: rotate(2deg);}
    52% {transform: rotate(0);}
    100% {transform: rotate(0)}
}

@keyframes PopIn {
    0% {scale: 90%;}
    50% {scale: 102%;}
    100% {scale: 100%;}
}